/.vscode
/ds_sensor.uvgui.admin
/ds_sensor.uvgui.uvgui.admin
/ds_sensor.uvgui.uvopt
/ds_sensor.uvgui.uvproj
/Listings
/Objects

__Previews/
**/__Previews/

History/
**/History/

Project Logs for */
**/Project Logs for */

Project Outputs for */
**/Project Outputs for */

HISTORY_temp/
**/HISTORY_temp/